.root {
    -fx-font-family: 'Arial', sans-serif;
    -fx-background-color: linear-gradient(to bottom, #e0e0e0, #ffffff);
}

.label {
    -fx-font-size: 28px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.text-field, .password-field, .combo-box {
    -fx-background-color: trasnparent;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10px;
    -fx-padding: 10px; /* Reduced padding for height */
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
    -fx-max-width: 300px;  /* Reduced maximum width for input fields */
    -fx-pref-width: 100%;  /* Ensure it takes full available width */
    -fx-pref-height: 35px; /* Reduced height */

}

.text-field:focused, .password-field:focused, .combo-box:focused {
    -fx-border-color: #4CAF50;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #4CAF50, #388E3C);
    -fx-text-fill: white;
    -fx-padding: 5px 16px;  /* Reduced padding for the button */
    -fx-font-size: 16px;  /* Reduced font size for the button */
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
    -fx-max-width: 300px;  /* Reduced maximum width for the button */
    -fx-pref-width: 100%;  /* Ensure it takes full available width */
    -fx-pref-height: 35px; /* Reduced height */
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #45A049, #2E7D32);
}

.button:pressed {
    -fx-background-color: #2E7D32;
}

.main-container {
    -fx-padding: 40px;
    -fx-spacing: 15px;
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 25, 0, 0, 10);
    -fx-alignment: center;  /* Center the content horizontally */
}
.small-text {
    -fx-font-size: 14px; /* Taille du texte plus petite */
}

.hyperlink {
    -fx-font-size: 14px; /* Taille du texte du lien plus petite */
    -fx-text-fill: #0073e6; /* Couleur du texte du lien */
}
.main-container {
    -fx-background-color: #f0f0f0;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.submit-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.text-link {
    -fx-font-size: 14px;
    -fx-text-fill: #2196F3;
    -fx-cursor: hand;
}
